/*Color palette
    #E9253C Dark red (Alizarin Crimson)
    #F5E6E8 Light pink (Pot Pourri)
    #0C0A3E Dark blue (Abbey)
    #EEF4D4 Light green (Tahuna Sands)
    #0F1108 Dark brown (Marshland?)
    #25271E Brown (Log Cabin)
*/
.bookingheading{
   text-align: center; 
}
.booking-form{
    background-color:#003249;
    color: White;
}
.btn-primary{
    background-color: white;
    border-color:white;
    color:#3f51b5;
    font-weight: bold;
    width: 200px;

}
.btn-primary:hover{
    background-color: white;
    border-color:white;
    color:#3f51b5;
}